<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Youtube Video Downloader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
    
  </head>
  <body>
        <div>
             <h1>Successfully downloaded!</h1>
        </div>

        <div>
          <i class="fas fa-check-circle"></i>
        </div>

        <div>
          <h2>Want to download another video?</h2>
         <form action="/success" method="POST">
          <input type="hidden">
          <button type="submit" class="btn btn-light" id="button2">Download</button>
        
         </form>
        </div>
  </body>
</html>